<style>
  h4{
    background: #FFDEAD;
  }
</style>
<div class="" style="width: 40%; margin: 0 auto;">
  <div class="row">
    <div class="col">
      <h4 class="float-left font-weight-bold px-3 my-3 rounded-pill">DM一覧</h4>
    </div>
  </div>
  <div class="row">
    <% @rooms.each do |room| %>
      <table class="table table-borderless border">
        <tr>
          <td class="col-md-12">
            <%= link_to user_room_path(room.dm_partner(current_user), room) do %>
              <%= image_tag room.dm_partner(current_user).get_image(60, 60), class: 'rounded-circle' %>
              <%= room.dm_partner(current_user).name %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
