<div class = "row">
  <div class = "col-md-12 pt-4">
    <% unless user.id == current_user.id %>
      <% if is_room %>
        <%= link_to "DMをする", user_room_path(user.id, room_id), class: 'btn btn-outline-warning btn-block' %>
      <% else %>
        <%= link_to "DMを開始する", user_rooms_path(user.id, room_id), method: :post, class: 'btn btn-outline-warning btn-block' %>
      <% end %>
    <% end %>
  </div>
</div>

