<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="float-left font-weight-bold bg-light px-3 my-3">会員一覧</h4>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table text-left bg-light">
        <tr>
          <th>会員ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_active == true %>
                <p class="text-success font-weight-bolder">有効</p>
              <% else %>
                <p class="text-secondary font-weight-bolder">退会</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>