<style>
footer {
background-color:#FAEBD7
}
</style>

<footer>
  <div class='container'>
  	<div class='row'>
    	<div class='mt-4 mx-auto'>
    		<p>製作中： 2024shoi</p>
    	</div>
    </div>
  </div>
</footer>
