<div class="containerpt">
  <div class="row pt-xl-5 justify-content-center">
    <div class="col-md-6 pt-xl-5 text-center">
      <h2 class="font-weight-bold">該当のデータは存在しません。</h2>
    </div>
  </div>
</div>